html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #313335;
}
.added {
    border: 5px solid #384c38;
}

.changed {
    border: 5px solid #374752;
}

.removed {
    opacity: 0.25;
    pointer-events: none;
}

.persisted {
    border: 5px solid #323232;
}

input {
    color: #a3a291;
    background: #313335;
    border: 1px solid gray;
    border-radius: 2px;
}
