html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #313335;
}

.TRANSIENT {
    border: 5px solid #384c38;
}

.PERSISTENT {
    border: 5px solid #313335;
}

.REMOVED {
    opacity: 0.25;
    pointer-events: none;
    border: 5px solid #b15b2e;
}

.DETACHED {
    border: 5px solid #313335;
}

input {
    color: #a3a291;
    background: #313335;
    border: 1px solid gray;
    border-radius: 2px;
}
