html, body, #relations-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
}

.debug-element {
    opacity: 0.5;
}

.relation-block {
    border: 1px solid gray;
    position: absolute;
}

.attribute-block {
}